name: CI
on: [ push, pull_request ]
jobs:

  build_browsers:

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        browser: [ Firefox, ChromeHeadless ]
        diagram-js-version: [ '11', '' ]


    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Install legacy diagram-js
      if: matrix.diagram-js-version != ''
      run: npm install --no-save diagram-js@${{ matrix.diagram-js-version }}
    - name: Setup project
      uses: bpmn-io/actions/setup@latest
    - name: Build
      env:
        TEST_BROWSERS: ${{ matrix.browser }}
      run: xvfb-run npm run all

  build_os:

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest ]
        browser: [ ChromeHeadless ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Setup project
      uses: bpmn-io/actions/setup@latest
    - name: Build
      env:
        TEST_BROWSERS: ${{ matrix.browser }}
      run: npm run all